name: Deploy to Firebase
on:
  workflow_run:
    workflows: ['Build']
    types: [completed]
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' && github.event.workflow_run.event == 'push' }}
    permissions:
      actions: read
      contents: read
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Download artifact from workflow run
        uses: dawidd6/action-download-artifact@v3
        with:
          workflow: build.yaml
          workflow_conclusion: success
          name: build-files
          path: build/

      - name: Deploy to Firebase
        uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: '${{ secrets.GITHUB_TOKEN }}'
          firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_KEY }}'
          projectId: pimaenkagom
          channelId: live
